@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* .container{
    width:100%;
} */
.features-container{
    width:100%;
    height: 100%;
    margin-top:6%;
}
.features-main-container{
    display: flex;
    flex-direction: row;
    width:95%;
    height: 100%;
    margin-left: 3%;
    background-color: #f8f9fa;
    border-radius: 30px;
}
.features-heading{
    text-align: left;
    margin-left: 3%;
    font-size: 33px;
    font-weight: 400;
}
#tilt:hover{
    transform: scale(1.1) rotate(-3deg);
    /* background-color: #ffc107; */
}